.todo_list_paper {
  overflow-y: auto;
}

.todo_list {
  width: 450px;
  min-height: 450px;
  max-height: 450px;
  height: 100%;
  margin: 20px auto;
}

.todo_item{
  padding: 5px;
}

.delete_icon:hover{
  color: rgb(220, 21, 21);
}

.checkbox_container{
  padding: 0 !important;
}
.checkbox:hover {
  color: #3f51b5;
}

.text{
  width: 350px;
}

.button {
  background: #2196f3 !important;
  color: white !important;
  margin-top: 10px !important;
  margin-left: 10px !important;
}

.send_icon {
  margin-left: 5px;
}

.list_container {
  align-items: center;
  display: flex;
  flex-direction: column;
}